<template>
    <div class="row w-100">
        <div class="card text-white bg-primary mx-auto w-100">
            <div class="card-body">
                <h3 class="card-title">Attendance stats</h3>
                <div class="card w-100">
                    <div class="card-body text-dark">
                        <div class="row mb-2">
                            <div class="col-md-2 d-flex">
                                <multiselect
                                    v-model="fieldData.team"
                                    :options="teams"
                                    placeholder="Choose team"
                                    trackBy="id"
                                    label="name"
                                    selectLabel="select"
                                ></multiselect>
                            </div>
                            <p class="mt-2" v-if="fieldData.team"><i class="fas fa-arrow-right"></i></p>
                            <div class="col-md-2 d-flex">
                                <multiselect
                                    v-if="fieldData.team"
                                    v-model="fieldData.courseType"
                                    :options="courseTypes"
                                    trackBy="id"
                                    label="name"
                                    placeholder="Choose course"
                                    :disabled="!fieldData.team"
                                    selectLabel=""
                                    selectedLabel=""
                                    deselectLabel=""
                                ></multiselect>
                            </div>
                            <p class="mt-2" v-if="fieldData.courseType"><i class="fas fa-arrow-right"></i></p>
                            <div class="col-md-2 d-flex">
                                <multiselect
                                    v-if="fieldData.courseType"
                                    v-model="fieldData.course"
                                    :options="courses"
                                    trackBy="id"
                                    label="name"
                                    placeholder="(optional) Choose date"
                                    :disabled="!fieldData.courseType"
                                    selectLabel=""
                                    selectedLabel=""
                                    deselectLabel=""
                                ></multiselect>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-2 d-flex">
                                <button class="btn btn-primary w-100" @click="fetchAttendanceStatistics">get statistics</button>
                            </div>
                            <div class="col-md-auto ">
                                <small>Note: Only courses where attendance was made is calculated into the chart below.</small>
                                <br>
                                <small>Below statistics are very advanced calculations. Therefore there might be visual abnormalities.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-100">
                    <div class="card-body">
                        <line-chart v-if="datacollection" :chart-data="datacollection" :options="chartOptions" :height="100"></line-chart>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>

import LineChart from './LineChart.js'
import axios from 'axios'
import Multiselect from 'vue-multiselect'
export default {
    components: {
        LineChart,
        Multiselect
    },
    data(){
        return {
            datacollection: null,
            chartOptions: {
                indexAxis: 'y',
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            stepSize: 10,
                            reverse: false,
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            reverse: true,
                        }
                    }],
                }
            },
            teams: [],
            courseTypes: [],
            students: [],
            courses: [],
            fieldData: {
                team: null,
                courseType: null,
                student: null,
                course: null
            }
        }
    },
    mounted () {
        this.fetchTeams();
        this.fetchCourseTypes();
    },
    methods: {

        fillData (statisticsData)
        {
            this.datacollection = {
                labels: [],
                datasets: [
                ],
                beginAtZero: true,
            }

            let averageDataset = {
                type: 'line',
                label: 'Average absent',
                data: [],
                borderColor: '#457EB6',
                lineWidth: 3,
                order: 1,
            }

            for (const date in statisticsData.courses) {
                if (statisticsData.courses.hasOwnProperty(date)) {
                    averageDataset.data.push(statisticsData.courses[date].average);
                }

            }
            this.datacollection.datasets.push(averageDataset)
            for (const label in statisticsData.labels) {
                if (statisticsData.labels.hasOwnProperty(label)) {
                    this.datacollection.labels.push(statisticsData.labels[label])
                }

            }
            for (const dataset in statisticsData.datasets) {
                if(statisticsData.datasets.hasOwnProperty(dataset)){
                    let randomColor = '#' + Math.floor(Math.random()*16777215).toString(16);
                    if (Object.values(statisticsData.datasets).filter(data => {
                        return data.borderColor === randomColor
                    })) {
                        randomColor ='#' + Math.floor(Math.random()*16777215).toString(16);
                    }
                    let d = {
                        label: dataset,
                        fill: false,
                        borderColor: randomColor,
                        backgroundColor: randomColor,
                        data: [],
                        order: 2
                    }
                    for (const attendance in statisticsData.datasets[dataset]) {
                        if (statisticsData.datasets[dataset].hasOwnProperty(attendance)) {
                            d.data.push(statisticsData.datasets[dataset][attendance].average)
                        }

                    }
                    this.datacollection.datasets.push(d)
                }
            }
        },
        fetchTeams: function () {
            axios.get(this.teamFetchEndpoint).then(response => {
                if(response && response.data && response.data.data) {
                    let teams = response.data.data;
                    teams.forEach(team => {
                        this.teams.push({
                            name: team.name,
                            id: team.id,
                            courses: team.courses,
                            students: team.students
                        })
                    })
                }
            })
        },
        fetchCourseTypes: function () {
            axios.get(this.courseTypesFetchEndpoint).then(response => {
                if(response && response.data && response.data.data) {
                    this.courseTypes = response.data.data;
                }
            })
        },
        fetchAttendanceStatistics: function () {
            let params = {
                teamId: this.fieldData.team.id,
                courseTypeId: this.fieldData.courseType.id
            }
            axios.get(this.attendanceStatisticsFetchEndpoint, {
                params: params
            }).then(response => {
                if(response && response.data && response.data.data.statistics) {
                    this.fillData(response.data.data.statistics)
                }
            })
        }
    },
    props: {
        teamFetchEndpoint: {
            required: true,
            type: String
        },
        attendanceStatisticsFetchEndpoint: {
            required: true,
            type: String
        },
        courseTypesFetchEndpoint: {
            required: true,
            type: String
        }
    },
}
</script>
<style lang="css">
</style>
