<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
            </tr>
            </thead>
            <tbody v-for="student in students">
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone_number }}</td>
            </tr>
            </tbody>
            <tbody v-if="!students || students.length == 0">
            <tr>
                <td colspan="7">
                    No students where found.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    name: "studentList",
    data: () => {
        return {
            students: [],
            isLoading: false,
        }
    },
    mounted() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            this.isLoading = true;
            axios.get(this.studentsFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    this.students = response.data.data
                }
                this.isLoading = false
            });
        }
    },
    props: {
        studentsFetchEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading
    },

}
</script>

<style scoped>

</style>
