<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <div class="row" v-if="studyTeams">
            <div class="col-md-3" v-for="team in studyTeams">
                <div class="card text-white bg-dark mb-3 h-100">
                    <div class="card-header">
                        <h3>{{team.name}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row w-100 mx-auto">
                            <p class="card-text mr-1"><strong>Teachers: </strong></p>
                            <p v-for="teacher in team.teachers" class="card-text mr-1">{{ (teacher.name + ', ' ) }}</p>

                        </div>
                        <div class="row w-100 mx-auto">

                        </div>

                        <div class="row w-100 mx-auto">
                            <p class="card-text"><strong>Students count: </strong>{{ team.students.length }}</p>
                        </div>

                        <a :href="studyTeamViewEndpoint.replace('_id_', team.id)" class="btn btn-primary w-100 mt-2">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    name: "studyTeamsList",
    data: () => {
        return {
            studyTeams: [],
            isLoading: false,
        }
    },
    mounted() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            this.isLoading = true;
            axios.get(this.studyTeamsFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    console.log(response)
                    this.studyTeams = response.data.data
                }
                this.isLoading = false
            });
        }
    },
    props: {
        studyTeamsFetchEndpoint: {
            required: true,
            type: String
        },
        studyTeamViewEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading
    },

}
</script>

<style scoped>

</style>
