<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <div v-if="team">
            <div class="row">
                <h2>{{ team.name }}</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Teachers:</h5>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-borderless" v-if="team.teachers">
                                    <thead>
                                    <tr class="bg-PRIMARY">
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone number</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="teacher in team.teachers">
                                        <td>{{ teacher.name }}</td>
                                        <td><a class="text-dark" :href="'mailto:'+ teacher.email">{{
                                                teacher.email
                                            }}</a></td>
                                        <td><a class="text-dark"
                                               :href="'tel:' + teacher.phone_number">{{ teacher.phone_number }}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Students:</h5>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-borderless" v-if="team.students">
                                    <thead>
                                    <tr class="bg-warning">
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone number</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="student in team.students">
                                        <td>{{ student.name }}</td>
                                        <td><a :href="'mailto:'+ student.email">{{ student.email }}</a></td>
                                        <td><a :href="'tel:' + student.phone_number">{{ student.phone_number }}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-success mb-3">
                        <div class="card-body">
                            <div class="row w-100 justify-content-between">
                                <h5 class="card-title mt-3 ml-3"><strong>Courses </strong></h5>
                                <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                                    <button type="button"
                                            :class="'btn btn-secondary' + (courseSelect === 1 ? ' active' : '')"
                                            @click="courseSelect = 1">Today
                                    </button>
                                    <button type="button"
                                            :class="'btn btn-secondary' + (courseSelect === 2 ? ' active' : '')"
                                            @click="courseSelect = 2">Now
                                    </button>
                                    <button type="button"
                                            :class="'btn btn-secondary'+ (courseSelect === 3  ? ' active' : '')"
                                            @click="courseSelect = 3">Now / Future
                                    </button>
                                    <button type="button" class="btn btn-success"
                                            @click="addAndFetchCourse(courseTypesEndpoint, courseSaveEndpoint, team)"><i
                                        class="far fa-calendar-plus"></i></button>
                                </div>
                            </div>

                            <div class="row" v-if="team.courses">
                                <carousel class="w-100 mt-2" id="course-container" :perPage="4"
                                          :navigationEnabled="true" :paginationEnabled="false">
                                    <slide v-for="course in filteredCourses" v-bind:key="course.id">
                                        <div class="col m-1">
                                            <div
                                                :class="'card text-white ' +  (currentTimeWithin(course.start_time, course.end_time) ? 'bg-success' : 'bg-primary') + ' mb-3 h-100'">
                                                <div class="card-body">
                                                    <div class="row w-100">
                                                        <div class="col-md-9">
                                                            <h5 class="card-title">{{ course.course_type.name }}</h5>
                                                        </div>
                                                        <p class="card-text ml-3">
                                                            {{ course.start_time.split(' ')[0] }}</p>
                                                    </div>
                                                    <div class="row w-100">
                                                        <div class="col-md-12">
                                                            <p class="card-text">
                                                                {{ course.start_time.split(' ')[1] + ' - ' + course.end_time.split(' ')[1] }}</p>
                                                        </div>

                                                    </div>
                                                    <div class="row w-100 mx-auto mt-2">
                                                        <button class="btn btn-secondary w-100" style="cursor: pointer"
                                                                @click="goToView(courseViewEndpoint, course.id)">view
                                                            course
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </slide>
                                </carousel>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
import {Carousel, Slide} from 'vue-carousel';
import Multiselect from 'vue-multiselect'
import Swal from "sweetalert2";

export default {
    name: "studyTeamView",
    data: () => {
        return {
            team: null,
            isLoading: false,
            courseSelect: 1
        }
    },
    mounted() {
        console.log(this.courseTypesEndpoint);
        this.fetchData()
    },
    computed: {
        filteredCourses() {
            return this.team.courses.filter(course => {
                if (this.courseSelect === 1) {
                    if (course.start_time.split(' ')[0] === this.today) {
                        return course.start_time.split(' ')[0] = this.today
                    }
                } else if (this.courseSelect === 2) {
                    return this.currentTimeWithin(course.start_time, course.end_time)
                } else if (this.courseSelect === 3) {
                    return this.team.courses
                }
            });

        },
        today: function () {
            return this.currentTime.split(' ')[0]
        },
        currentTime: function () {
            let date = new Date()
            let year, month, day, hours, minuttes, seconds;
            year = String(date.getFullYear());
            month = String(date.getMonth() + 1);
            if (month.length === 1) {
                month = "0" + month;
            }
            day = String(date.getDate());
            if (day.length === 1) {
                day = "0" + day;
            }
            hours = String(date.getHours());
            if (hours.length === 1) {
                hours = "0" + hours;
            }
            minuttes = String(date.getMinutes());
            if (minuttes.length === 1) {
                minuttes = "0" + minuttes;
            }
            seconds = String(date.getSeconds());
            if (seconds.length === 1) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + ' ' + hours + ':' + minuttes + ':' + seconds;
        }
    },
    methods: {
        addAndFetchCourse: function () {
            this.addCourse(this.courseTypesEndpoint, this.courseSaveEndpoint, this.team).then(res => {
                if (res) {
                    this.fetchData();
                }
            })

        },


        addCourse: async (courseTypesEndpoint, saveEndpoint, team) => {
            let valid = false
            let courseTypeOptions = {};
            let teacherOptions = {};
            let courseTypesResponse = await axios.get(courseTypesEndpoint)

            if (courseTypesResponse && courseTypesResponse.data) {
                courseTypesResponse.data.data.forEach(item => {
                    courseTypeOptions[item.id] = item.name
                })
                team.teachers.forEach(teacher => {
                    teacherOptions[teacher.id] = teacher.name
                })
            }
            const {value: formData} = await Swal.mixin({
                confirmButtonText: 'Next',
                showCancelButton: true,
                cancelButtonText: 'Dismiss',
                progressSteps: ['1', '2', '3']
            }).queue([
                {
                    title: 'Create Course',
                    text: 'Choose course type',
                    input: 'select',
                    inputOptions: courseTypeOptions,
                    inputPlaceholder: 'Choose course type',
                    inputValidator(inputValue) {
                        return !inputValue && 'Please select a course type'
                    }

                },
                {
                    title: 'Create Course',
                    text: 'Select teacher',
                    input: 'select',
                    inputOptions: teacherOptions,
                    inputPlaceholder: 'Select teacher',
                    inputValidator(inputValue) {
                        return !inputValue && 'Please select a teacher'
                    }

                },
                {
                    title: 'Create Course',
                    html:
                        '<input type="date" id="input_date" class="swal2-input">' +
                        '<div class="row d-flex">' +
                        '<div class="col-md-5 d-flex">' +
                        '<input type="time" id="start_time" class="swal2-input">' +
                        '</div>' +
                        '<div class="col-md-2 text-center">' +
                        '<p class="mt-4">-</p>' +
                        '</div>' +
                        '<div class="col-md-5">' +
                        '<input type="time" id="end_time" class="swal2-input">' +
                        '</div>' +
                        '</div>',
                    focusConfirm: false,
                    preConfirm: () => {

                        return [
                            document.getElementById('input_date').value,
                            document.getElementById('start_time').value,
                            document.getElementById('end_time').value
                        ]
                    },

                }
            ])
            if (formData) {
                if (formData[2]) {
                    if (formData[2][1] && formData[2][2] && formData[2][1] > formData[2][2]) {
                        await Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'End time must be larger than start time',
                        })
                    } else if (!formData[2][0]) {
                        await Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'You must select a start date',
                        })
                    } else if (!formData[2][1] || !formData[2][2] || !formData[2][1] && !formData[2][2]) {
                        await Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'You must select start and end time',
                        })
                    } else {
                        let startTime = formData[2][0] + ' ' + formData[2][1]
                        let endTime = formData[2][0] + ' ' + formData[2][2]
                        let data = {
                            course_type_id: Number(formData[0]),
                            start_time: startTime,
                            end_time: endTime,
                            team_id: Number(team.id),
                            teacher_id: Number(formData[1]),

                        }
                        console.log(data)
                        await axios.post(saveEndpoint, data).then(response => {
                            if (response && response.data && response.data.response) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Course was created!',
                                })
                                valid = true
                                return valid
                            }
                        }).catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Something went wrong...',
                            })
                            valid = false
                            return valid
                        })

                    }
                }
            }

            return valid
        },
        goToView: function (endpoint, id) {
            window.location.replace(endpoint.replace('_id_', id))
        },
        currentTimeWithin: function (startTime, endTime) {
            let verifyer = false
            if (startTime.split(' ')[0] === this.currentTime.split(' ')[0]) {
                if (startTime.split(' ')[1] < this.currentTime.split(' ')[1]) {
                    verifyer = endTime.split(' ')[1] > this.currentTime.split(' ')[1];
                } else {
                    verifyer = false
                }
            }
            return verifyer;
        },
        twoDigits: function (d) {
            if (0 <= d && d < 10) return "0" + d.toString();
            if (-10 < d && d < 0) return "-0" + (-1 * d).toString();
            return d.toString();
        },
        fetchData: function () {
            this.isLoading = true;
            axios.get(this.teamFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    console.log(response)
                    this.team = response.data.data
                }
                this.isLoading = false
            });
        }
    },
    props: {
        teamFetchEndpoint: {
            required: true,
            type: String
        },
        courseViewEndpoint: {
            required: true,
            type: String
        },
        courseTypesEndpoint: {
            required: true,
            type: String
        },
        courseSaveEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading,
        Carousel,
        Slide,
        Multiselect
    }
}
</script>

<style scoped>
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>
