<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Identifier</th>
                <th scope="col">Status</th>
                <th scope="col">Course</th>
                <th scope="col">Team</th>
                <th scope="col">Starts</th>
                <th scope="col">Ends</th>
            </tr>
            </thead>
            <tbody v-for="attendance in attendances">
            <tr>
                <td><a :href="attendanceViewEndpoint.replace('_id_', attendance.id)">{{ attendance.id }}</a></td>
                <td>
                    <span v-if="attendance.confirmed == 1" class="badge badge-success" style="font-size: 12px">present</span>
                    <span v-else class="badge badge-danger" style="font-size: 12px">not present</span>
                </td>

                <td>{{ attendance.course.course_type.name }}</td>
                <td>{{ attendance.course.study_team.name }}</td>
                <td>{{ attendance.course.start_time }}</td>
                <td>{{ attendance.course.end_time }}</td>
            </tr>
            </tbody>
            <tbody v-if="!attendances || attendances.length == 0">
            <tr>
                <td colspan="7">
                    No attendances where found.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
    name: "attendancesList",
    data: () => {
        return {
            attendances: [],
            isLoading: false,
        }
    },
    mounted() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            this.isLoading = true;
            axios.get(this.attendancesFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    console.log(response.data.data)
                    this.attendances = response.data.data
                }
                this.isLoading = false
            });
        }
    },
    props: {
        attendancesFetchEndpoint: {
            required: true,
            type: String
        },
        attendanceViewEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading
    },

}
</script>

<style scoped>

</style>
