<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <div v-if="attendance">
            <div class="row">
                    <div class="col-md-12 justify-content-center d-flex" v-if="attendance.course">
                        <h1 class="m-4">{{attendance.course.study_team.name}}</h1>
                        <h1 class="m-4">|</h1>
                        <h1 class="m-4">{{ attendance.course.course_type.name }}</h1>
                    </div>

            </div>
            <div class="row justify-content-center" v-if="attendance.course">
                <h4>{{ splitTime(attendance.course.start_time) }}</h4>
            </div>
            <div class="row justify-content-center" v-if="attendance.course">
                <div class="col-md-12 justify-content-center d-flex">
                    <h5 class="mr-1">starts</h5>
                    <h3 class="mr-2">{{ splitTime(attendance.course.start_time, 'time') + ' ' }}</h3>

                    <h5 class="mr-1">ends</h5>
                    <h3>{{ splitTime(attendance.course.end_time, 'time') }}</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-2">
                    <div class="card bg-primary ">
                        <div class="div" v-if="attendance">
                            <div class="card-body text-center" v-if="attendance.confirmed === 0">
                                <Progress v-if="timeDiff" :strokeColor="(timeLimitPercentage < 90 ? '#25e001': '#fd0003')" :transitionDuration="5000" :radius="60" :strokeWidth="15" :value="timeLimitPercentage">
                                    <div class="content">{{timeDiff + ' seconds'}}</div>
                                </Progress>
                                <div class="row w-100 mx-auto justify-content-center" v-if="timeDiff > 0 && attendance">
                                    <button @click="attendCourse()" class="btn btn-success">Attend Course</button>
                                </div>
                                <div v-else-if="timeDiff === 0 && attendance.confirmed === 0" class="row w-100 mx-auto justify-content-center">
                                    <h4>Sorry, but you have not signed to the course within the timelimit</h4>
                                    <p>Please contact the teacher if a mistake has happened</p>
                                </div>

                            </div>
                            <div class="card-body text-center" v-else-if="attendance.confirmed === 1">
                                <Progress :strokeColor="('#25e001')" :transitionDuration="5000" :radius="60" :strokeWidth="15" :value="timeLimitPercentage">
                                    <div class="content">{{timeDiff + ' seconds'}}</div>
                                </Progress>
                                <h4>You have attended succesfully</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
//Sweetalert

import Progress from "easy-circular-progress";
import Swal from "sweetalert2";

export default {
    name: "attendanceView",
    data: () => {
        return {
            isLoading: false,
            attendance: null,
            timeDiff : null,
            userPosition: null
        }
    },
    mounted() {
        this.fetchData()
        this.getUserPosition()
    },
    computed: {
        currentTime: function () {
            let date = new Date()
            let year, month, day, hours, minuttes, seconds;
            year = String(date.getFullYear());
            month = String(date.getMonth() + 1);
            if (month.length == 1) {
                month = "0" + month;
            }
            day = String(date.getDate());
            if (day.length == 1) {
                day = "0" + day;
            }
            hours = String(date.getHours());
            if (hours.length == 1) {
                hours = "0" + hours;
            }
            minuttes = String(date.getMinutes());
            if (minuttes.length == 1) {
                minuttes = "0" + minuttes;
            }
            seconds = String(date.getSeconds());
            if (seconds.length == 1) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + ' ' + hours + ':' + minuttes + ':' + seconds;
        },
        timeLimitPercentage: function () {
            return Math.round(100 - ((this.timeDiff / this.attendance.course.time_limit) * 100))
        }

    },
    methods: {
        getUserPosition : function () {
            navigator.geolocation.getCurrentPosition(u => {
                this.userPosition =  u
            })
        },
        startTimer: function () {
            let interval = setInterval(() => {
                let timeDiff = (new Date() - new Date(this.attendance.created_at).getTime()) / 1000
                let timer = this.attendance.course.time_limit - Math.round(timeDiff)
                if (timer > 0) {
                    this.timeDiff = timer;
                } else {
                    this.timeDiff = 0
                    clearInterval(interval)
                }

            }, 1000);

        },
        currentTimeWithin: function (startTime, endTime) {
            let verifyer = false
            if (startTime.split(' ')[0] === this.currentTime.split(' ')[0]) {
                if(startTime.split(' ')[1] <= this.currentTime.split(' ')[1]) {
                    verifyer = endTime.split(' ')[1] >= this.currentTime.split(' ')[1];
                } else {
                    verifyer = false
                }
            }
            return verifyer;
        },
        splitTime: function (date, dateOrTime = 'date') {
            let splittedDate = date.split(' ')
            let d = splittedDate[0]
            let t = splittedDate[1]
            if (dateOrTime === 'date') {
                return d;
            } else if (dateOrTime === 'time') {
                return t.split(':')[0] + ':' + t.split(':')[1]
            } else {
                return []
            }

        },
        fetchData: function () {
            this.isLoading = true;
            axios.get(this.attendanceFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    this.attendance = response.data.data
                    console.log(this.attendance)
                    if (this.attendance.confirmed === 0) {
                        this.startTimer()
                    }

                }
                this.isLoading = false
            });
        },
        attendCourse: function () {
            if (this.timeDiff > 0) {
                Swal.fire({
                    title: 'Please provide attendance key',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'on'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Attend',
                    showLoaderOnConfirm: true,
                    preConfirm: (key) => {
                        return axios.put(this.attendanceUpdateEndpoint, {
                            confirmed: true,
                            attendanceKey: key
                        }).then(response => {
                            console.log(response)
                            this.fetchData()
                            Swal.fire({
                                title: 'Yay!',
                                text: 'You submitted within the timelimit',
                                icon: 'success',
                            })
                        }).catch(error => {
                                Swal.showValidationMessage(
                                    `Wrong key`
                                )
                        })
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: `${result.value.login}'s avatar`,
                            imageUrl: result.value.avatar_url
                        })
                    }
                })
            } else {
                Swal.fire({
                    title: 'Error!',
                    text: 'You did not submit within the timelimit',
                    icon: 'error',
                })
            }

        }
    },
    props: {
        attendanceFetchEndpoint: {
            required: true,
            type: String
        },
        attendanceUpdateEndpoint: {
            required: true,
            type: String
        },
    },
    components: {
        Loading,
        Progress
    }
}
</script>


<style scoped>

</style>
