<template>
    <div class="col-md-12">
        <div v-if="responseMsgs" class="alert alert-success" role="alert">
            <p>Import completed without problems</p>
        </div>
        <div v-if="reponseErrorMsgs" class="alert alert-danger" role="alert">
            <p v-for="err in reponseErrorMsgs">{{err}}</p>
        </div>
        <div v-if="reponseErrorMsgs" class="alert alert-warning" role="alert">
            <p>The rest might be imported correctly. Please check corresponding.</p>
        </div>
        <div class="card text-white bg-success mb-3">
            <div class="card-header"><h3>{{title}}</h3></div>
            <div class="card-body">
                <h5 class="card-title">Please select a file to upload</h5>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fileAddon" v-on:click="submitFile()" style="cursor: pointer">Upload File</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" id="file" name="file" ref="fileInput" class="custom-file-input"
                                   v-on:change="handleFileUpload"
                                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                            <label class="custom-file-label" for="file">Choose file for upload</label>
                        </div>
                    </div>
                    <div class="card" v-if="noFile">
                        <small class="text-danger ml-3">please add a file</small>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: "ImportExcel",
    data: () => {
        return {
            file: null,
            responseMsgs: null,
            reponseErrorMsgs: null,
            noFile: false
        }
    },
    methods: {
        handleFileUpload(e){
            this.file = null
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.file = files[0];
        },
        submitFile(){
            if(!this.file) {
                this.noFile = true;
                return false;
            }
            this.noFile = false;
            let formData = new FormData();
            formData.append('file', this.file);
            this.responseMsgs = null;
            this.reponseErrorMsgs = null;
            axios.post( this.importEndpoint,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then(response => {
                if (response && response.data && response.data.response) {
                    this.responseMsgs = ['Import completed successfully']
                } else {
                    this.responseMsgs = ['Error on import..']
                }
            }).catch(error => {
                if (error && error.response && !error.response.data.response) {
                    if (error.response.data && error.response.data.messages) {
                        this.reponseErrorMsgs = error.response.data.messages
                    }
                }
            });
        },
    },
    props: {
        title: {
            required: false,
            type: String,
            default: 'Import File'
        },
        importEndpoint: {
            required: true,
            type: String
        }

    }
}
</script>

<style scoped>

</style>
