<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="false"
                 :is-full-page="true"
                 :color="'#1e56b0'"
        ></loading>
        <div v-if="course && user">
            <div class="row w-100">
                <div class="col-md-auto ml-4">
                    <h1>{{ course.course_type.name }}</h1>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 ml-4 justify-content-center">
                    <button type="button" class="btn btn-primary" v-if="!course.course_ip_address" @click="editCourse">
                        <i class="far fa-edit"></i></button>
                    <button type="button" class="btn btn-danger" @click="deleteCourse"><i class="far fa-trash-alt"></i>
                    </button>
                    <button v-if="currentTimeWithin(course.start_time, course.end_time) && course.teacher.id === user.id" type="button"
                            class="btn btn-success" @click="beginAttendanceCheck"><i class="fas fa-clipboard-check"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <div
                        :class="'card ' + (currentTimeWithin(course.start_time, course.end_time) ? ' bg-success' : ' bg-primary') + ' m-4'">
                        <div class="card-body">
                            <div class="row w-100 text-white border-bottom-0 rounded-top mx-auto">
                                <div class="col m-1">
                                    <h4 class="card-title float-left">{{ course.course_type.name }}</h4>
                                </div>
                                <div class="col m-1">
                                    <h4 class="card-title float-right">{{ course.start_time.split(' ')[0] }}</h4>
                                </div>

                            </div>
                            <div class="row w-100 text-white rounded-bottom border-top-0 mx-auto">
                                <div class="col col m-1">
                                    <h5>{{ course.teacher.name }}</h5>
                                </div>
                            </div>

                            <div class="row w-100 text-white rounded-bottom border-top-0 mx-auto">
                                <div class="col col m-1">
                                    <h5 class="font-italic">{{
                                            course.course_type.description ? course.course_type.description : 'No description for this course type'
                                        }}</h5>
                                </div>
                            </div>


                            <div class="row m-4 mx-auto justify-content-center">
                                <div class="col-md-auto d-flex">
                                    <h5 class="mr-1">starts</h5>
                                    <h1>{{ splitTime(course.start_time, 'time') }}</h1>
                                </div>
                                <div class="col-md-auto d-flex">
                                    <h5 class="mr-1">ends</h5>
                                    <h1>{{ splitTime(course.end_time, 'time') }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card border-warning m-4 ">
                        <div class="card-body">

                            <div class="row w-100 justify-content-center"
                                 v-if="attendanceTimeLimit && attendanceStart && timeDiff > 0">
                                <h4>Time before attendance ends:</h4>
                                <Progress :strokeColor="(timeLimitPercentage < 90 ? '#469f61': '#fd0003')"
                                          :transitionDuration="5000" :radius="60" :strokeWidth="15"
                                          :value="timeLimitPercentage">
                                    <div class="content">{{ timeDiff + ' seconds' }}</div>
                                </Progress>
                            </div>
                            <div class="row w-100 border-bottom-0 rounded-top mx-auto">
                                <h4 class="card-title float-left mt-1">Students</h4>
                                <div class="col mb-2" v-if="currentTimeWithin(course.start_time, course.end_time) && course.teacher.id === user.id">
                                    <button type="button" class="btn btn-light float-right"
                                            @click="beginAttendanceCheck"><i class="fas fa-clipboard-check"></i>
                                    </button>
                                </div>

                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="student in courseList.study_team.students">
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>
                                        <div v-if="student.attendances && student.attendances.length > 0">
                                            <span v-if="checkAttendanceForStudent(student)" class="badge badge-success"
                                                  style="font-size: 12px">present</span>
                                            <span v-else class="badge badge-danger"
                                                  style="font-size: 12px">not present</span>
                                        </div>
                                        <div v-else>
                                            <span class="badge badge-warning" style="font-size: 12px">no attendance check</span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <button v-if="currentTimeWithin(course.start_time, course.end_time) && course.teacher.id === user.id"
                                                type="button" class="btn btn-primary btn-circle btn-sm" @click="teacherAttendStudent(student)"><i
                                            class="fas fa-user-check"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">


            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
//Sweetalert
import Swal from 'sweetalert2'

import Progress from "easy-circular-progress";

import VueCircle from 'vue2-circle-progress'

export default {
    name: "courseView",
    data: () => {
        return {
            isLoading: false,
            course: null,
            attendanceTimeLimit: null,
            attendanceStart: null,
            timeDiff: 0
        }
    },
    mounted() {
        console.log(this.user)
        this.fetchData()
        Echo.channel('course.' + this.courseId)
            .listen('CourseAttendanceUpdateEvent', (e) => {
                this.course = e.data.course
                if (e.data.attendance.confirmed === 1) {
                    this.$toast.success(e.data.attendance.student.name + ' is present!', {
                        position: "bottom-right",
                        timeout: 3000,
                        closeOnClick: true,
                        pauseOnFocusLoss: true,
                        pauseOnHover: true,
                        draggable: true,
                        draggablePercent: 0.6,
                        showCloseButtonOnHover: false,
                        hideProgressBar: true,
                        closeButton: "button",
                        icon: true,
                        rtl: false
                    });
                }


            });

    },
    computed: {
        timeLimitPercentage: function () {
            if (this.attendanceTimeLimit) {
                return Math.round(100 - ((this.timeDiff / this.attendanceTimeLimit) * 100))
            } else {
                return 0
            }

        },
        courseList: function () {
            return this.course
        },
        currentTime: function () {
            let date = new Date()
            let year, month, day, hours, minuttes, seconds;
            year = String(date.getFullYear());
            month = String(date.getMonth() + 1);
            if (month.length == 1) {
                month = "0" + month;
            }
            day = String(date.getDate());
            if (day.length == 1) {
                day = "0" + day;
            }
            hours = String(date.getHours());
            if (hours.length == 1) {
                hours = "0" + hours;
            }
            minuttes = String(date.getMinutes());
            if (minuttes.length == 1) {
                minuttes = "0" + minuttes;
            }
            seconds = String(date.getSeconds());
            if (seconds.length == 1) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + ' ' + hours + ':' + minuttes + ':' + seconds;
        }

    },
    methods: {
        teacherAttendStudent: function (student) {
            let latestAttendance = student.attendances.reduce((max, obj) => (max.created_at > obj.created_at) ? max : obj);
            console.log(latestAttendance)
            if (latestAttendance) {
                let data = {
                    confirmed: (latestAttendance.confirmed !== 1) ,
                    teacherValidate: true
                }
                axios.put(this.attendanceUpdateEndpoint.replace('_id_', latestAttendance.id), data).then(response => {
                    console.log(response)
                })
            }
        },
        deleteCourse: function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(this.courseDeleteEndpoint).then(response => {
                        if (response && response.data && response.status === 200) {
                            Swal.fire(
                                'Deleted!',
                                'Course and its associated components has been deleted.',
                                'success'
                            )
                            window.location.href = '/';
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'error occurred...',
                            })
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: error,
                        })
                    })
                }
            })
        },
        editCourse: async function () {
            const {value: formData} = await Swal.fire({
                confirmButtonText: 'Confirm',
                showCancelButton: true,
                cancelButtonText: 'Dismiss',
                title: 'Update Course',
                html:
                    '<input type="date" id="input_date" class="swal2-input" value="' + this.splitTime(this.course.start_time) + '">' +
                    '<div class="row d-flex">' +
                    '<div class="col-md-5 d-flex">' +
                    '<input type="time" id="start_time" class="swal2-input" value="' + this.splitTime(this.course.start_time, 'time') + '">' +
                    '</div>' +
                    '<div class="col-md-2 text-center">' +
                    '<p class="mt-4">-</p>' +
                    '</div>' +
                    '<div class="col-md-5">' +
                    '<input type="time" id="end_time" class="swal2-input"  value="' + this.splitTime(this.course.end_time, 'time') + '">' +
                    '</div>' +
                    '</div>',
                preConfirm: () => {

                    return [
                        document.getElementById('input_date').value,
                        document.getElementById('start_time').value,
                        document.getElementById('end_time').value
                    ]
                },
            });
            if (formData) {
                if (formData[1] && formData[2] && formData[1] > formData[2]) {
                    await Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'End time must be larger than start time',
                    })
                } else if (!formData[0]) {
                    await Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'You must select a start date',
                    })
                } else if (!formData[1] || !formData[2] || !formData[1] && !formData[2]) {
                    await Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'You must select start and end time',
                    })
                } else {
                    let data = {
                        start_time: formData[0] + ' ' + formData[1],
                        end_time: formData[0] + ' ' + formData[2]
                    }
                    let response = await axios.put(this.courseUpdateEndpoint, data).catch(error => {

                    })
                    if (response && response.status === 200 && response.data) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Course was updated',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        this.fetchData()
                        console.log(response)
                    }
                    console.log(data)
                }
            }
        },
        startTimer: function () {
            let interval = setInterval(() => {
                let timeDiff = (new Date() - new Date(this.attendanceStart).getTime()) / 1000
                let timer = this.attendanceTimeLimit - Math.round(timeDiff)
                if (timer > 0) {
                    this.timeDiff = timer;
                } else {
                    this.timeDiff = 0
                    clearInterval(interval)
                }

            }, 1000);

        },
        checkAttendanceForStudent: function (student) {
            if (student && student.attendances) {
                let maxObj = student.attendances.reduce((max, obj) => (max.created_at > obj.created_at) ? max : obj);
                if (this.attendanceTimeLimit == null) {
                    this.attendanceTimeLimit = this.course.time_limit;
                    this.attendanceStart = maxObj.created_at;
                }
                return !!maxObj.confirmed;
            } else {
                return false
            }
        },
        beginAttendanceCheck: function () {
            let data = {
                teamId: this.course.team_id,
                courseId: this.course.id,
            }
            Swal.fire({
                title: 'Start attendance check',
                text: 'Write number of seconds for the students to attend within',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: `Start`,
                denyButtonText: `Dismiss`,
                input: 'number',
            }).then((result) => {
                if (result.isConfirmed) {
                    if (result.value && result.value > 0) {
                        data.timeLimit = result.value
                    }
                    axios.post(this.attendanceStartEndpoint, data).then(response => {
                        if (response && response.status === 200 && response.data.response) {
                            this.fetchData();
                            Swal.fire('Started the attendance check', '', 'success')
                        }
                    }).catch(err => {

                    });

                }
            })

        },
        currentTimeWithin: function (startTime, endTime) {
            let verifyer = false
            if (startTime.split(' ')[0] === this.currentTime.split(' ')[0]) {
                if (startTime.split(' ')[1] <= this.currentTime.split(' ')[1]) {
                    verifyer = endTime.split(' ')[1] >= this.currentTime.split(' ')[1];
                } else {
                    verifyer = false
                }
            }
            return verifyer;
        },
        splitTime: function (date, dateOrTime = 'date') {
            let splittedDate = date.split(' ')
            let d = splittedDate[0]
            let t = splittedDate[1]
            if (dateOrTime === 'date') {
                return d;
            } else if (dateOrTime === 'time') {
                return t.split(':')[0] + ':' + t.split(':')[1]
            } else {
                return []
            }

        },
        goToView: function (endpoint, id) {
            window.location.replace(endpoint.replace('_id_', id))
        },
        fetchData: function () {
            this.isLoading = true;
            axios.get(this.courseFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    this.course = response.data.data
                    this.attendanceStart = null
                    this.attendanceTimeLimit = null
                    this.timeDiff = 0
                    this.startTimer()
                }
                this.isLoading = false
            }).catch(err => {
                this.isLoading = false
            });
        }
    },
    props: {
        user: {
            required: true,
            type: Object
        },
        attendanceUpdateEndpoint: {
            required: true,
            type: String
        },
        courseDeleteEndpoint: {
            required: true,
            type: String
        },
        courseUpdateEndpoint: {
            required: true,
            type: String
        },
        courseId: {
            required: true,
            type: String
        },
        courseFetchEndpoint: {
            required: true,
            type: String
        },
        attendanceStartEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading,
        Progress,
        VueCircle
    }
}
</script>

<style scoped>
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
</style>
