<template>
    <div class="col-md-12">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :color="'#1e56b0'"
        ></loading>
        <div class="row w-100" v-if="courses">
            <div class="card border-success w-100">
                <div class="card-body">
                    <h1 class="card-title">Courses</h1>
                    <div class="row w-100 d-flex justify-content-between ml-1">
                        <div class="col-md-2">
                            <multiselect
                                v-model="dateSelected"
                                :options="filteredCourseDates"
                                :close-on-select="true"
                                :show-labels="false"
                                :allowEmpty="false"
                                placeholder="Choose dates"
                            ></multiselect>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="search-label">Search</span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search for a course by team or type"
                                       aria-label="Search for a course by team or type"
                                       aria-describedby="search-label"
                                       v-model="search"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row w-100 mt-2">

                    </div>

                    <carousel class="w-100 mt-2" id="course-container" :perPage="4" :navigationEnabled="true" :paginationEnabled="false">
                        <slide v-for="course in filteredCourses" v-bind:key="course.id">
                                <div class="col m-1">
                                    <div :class="'card text-white ' +  (currentTimeWithin(course.start_time, course.end_time) ? 'bg-success' : 'bg-primary') + ' mb-3 h-100'" >
                                        <div class="card-body">
                                            <div class="row w-100">
                                                <div class="col-md-6">
                                                    <h3>{{course.study_team.name}}</h3>
                                                    <h5 class="card-title">{{course.course_type.name}}</h5>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="card-text float-right">{{course.start_time.split(' ')[0]}}</p>
                                                </div>
                                            </div>
                                            <div class="row w-100">
                                                <div class="col-md-12">
                                                    <p class="card-text">{{course.start_time.split(' ')[1] + ' - ' + course.end_time.split(' ')[1]}}</p>
                                                </div>

                                            </div>
                                            <div class="row w-100 mx-auto mt-2">
                                                <button class="btn btn-secondary w-100" style="cursor: pointer" @click="goToView(courseViewEndpoint, course.id)">view course</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </slide>
                    </carousel>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import axios from 'axios'
// Import component
import Loading from 'vue-loading-overlay';
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css';
import { Carousel, Slide } from 'vue-carousel';
import Multiselect from 'vue-multiselect'


export default {
    name: "coursesList",
    data: () => {
        return {
            courses: [],
            isLoading: false,
            search: '',
            dateSelected: 'Today & Upcoming'
        }
    },
    mounted() {
        this.fetchData()

    },
    computed: {
        filteredCourses() {
            return this.courses.filter(course => {
                if (this.dateSelected === 'Today & Upcoming') {
                    return course.course_type.name.toLowerCase().includes(this.search.toLowerCase())
                        && course.start_time.split(' ')[0] >= this.currentTime.split(' ')[0]
                        ||
                        course.study_team.name.toLowerCase().includes(this.search.toLowerCase())
                        && course.start_time.split(' ')[0] >= this.currentTime.split(' ')[0]
                } else if (this.dateSelected === 'Past') {
                    return course.course_type.name.toLowerCase().includes(this.search.toLowerCase())
                        && course.end_time < this.currentTime
                        ||
                        course.study_team.name.toLowerCase().includes(this.search.toLowerCase())
                        && course.end_time < this.currentTime

                } else if (this.dateSelected === 'All') {
                    return course.course_type.name.toLowerCase().includes(this.search.toLowerCase())
                        ||
                        course.study_team.name.toLowerCase().includes(this.search.toLowerCase())

                } else {
                        return course.course_type.name.toLowerCase().includes(this.search.toLowerCase())
                            && course.start_time.split(' ')[0] === this.dateSelected
                            ||
                            course.study_team.name.toLowerCase().includes(this.search.toLowerCase())
                            && course.start_time.split(' ')[0] === this.dateSelected
                }
            });

        },
        filteredCourseDates() {
            let dates = ['Today & Upcoming', 'Past', 'All']
            this.courses.forEach(course => {
                dates.push(course.start_time.split(' ')[0])
            })
            return dates.filter((date, index) => dates.indexOf(date) === index)
        },
        currentTime: function () {
            let date = new Date()
            let year, month, day, hours, minuttes, seconds;
            year = String(date.getFullYear());
            month = String(date.getMonth() + 1);
            if (month.length === 1) {
                month = "0" + month;
            }
            day = String(date.getDate());
            if (day.length === 1) {
                day = "0" + day;
            }
            hours = String(date.getHours());
            if (hours.length === 1) {
                hours = "0" + hours;
            }
            minuttes = String(date.getMinutes());
            if (minuttes.length === 1) {
                minuttes = "0" + minuttes;
            }
            seconds = String(date.getSeconds());
            if (seconds.length === 1) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + ' ' + hours + ':' + minuttes + ':' + seconds;
        }
    },
    methods: {
        goToView: function (endpoint, id) {
            window.location.replace(endpoint.replace('_id_', id))
        },
        fetchData: function() {
            this.isLoading = true;
            axios.get(this.coursesFetchEndpoint).then(response => {
                if (response && response.data && response.data.data && response.data.response) {
                    this.courses = response.data.data
                }
                this.isLoading = false
            });
        },
        currentTimeWithin: function (startTime, endTime) {
            let verifyer = false
            if (startTime.split(' ')[0] === this.currentTime.split(' ')[0]) {
                if(startTime.split(' ')[1] <= this.currentTime.split(' ')[1]) {
                    verifyer = endTime.split(' ')[1] >= this.currentTime.split(' ')[1];
                } else {
                    verifyer = false
                }
            }
            return verifyer;
        },
    },
    props: {
        coursesFetchEndpoint: {
            required: true,
            type: String
        },
        courseViewEndpoint: {
            required: true,
            type: String
        }
    },
    components: {
        Loading,
        Carousel,
        Slide,
        Multiselect
    },
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
.card .card:hover{
    -webkit-box-shadow: 2px 4px 19px -4px rgba(0,0,0,0.55);
    box-shadow: 2px 4px 19px -4px rgba(0,0,0,0.55);
}

</style>
