<template>
    <div>
        <div class="row">
            <!-- Total students -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                >
                                    Total students
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ students.length }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total study teams -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                >
                                    Total Study Teams
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ studyTeams }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Total courses -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                    class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                >
                                    Total Courses
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ courses.length }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upcoming courses row-->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Upcoming courses</h6>
                    </div>
                    <div class="card-body pb-3">
                        <vue-cal :time="true"
                                 active-view="week"
                                 locale="en"
                                 style="height: 600px"
                                 :disable-views="['years', 'year', 'month']"
                                 :time-from="7 * 60"
                                 :time-to="18 * 60"
                                 :time-step="60"
                                 hide-weekends
                                 :events="calendarEvents"
                                 :on-event-click="onEventClick"
                        />

                    </div>
                </div>
            </div>

        </div>

        <!-- Absent Row -->
        <div class="row">
            <div class="col">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Average absent in your classes</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="myAreaChart" width="1037" height="320"
                                    style="display: block; width: 1037px; height: 320px;"
                                    class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>>

<script>

import axios from "axios";

import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import 'vue-cal/dist/i18n/da.js'

export default {

    data: () => {
        return {
            studyTeams: 0,
            students: [],
            courses: [],
            upcomingCourses: [],
            calendarEventList: [
                {
                    start: '2021-04-26 8:00:00',
                    end: '2021-04-26 16:00:00',
                    title: 'Dad\'s birthday!',
                    content: '<i class="v-icon material-icons">cake</i>',
                    class: 'sport'
                }
            ]
        }
    },
    components: { VueCal },
    props: {
        studentsByTeacherEndpoint: {
            required: true,
            type: String
        },
        coursesByTeacherEndpoint: {
            required: true,
            type: String

        }, courseViewEndpoint: {
            required: true,
            type: String
        },
        teacherId: {
            required: true,
        }

    },

    mounted() {
        this.fetchData()
    },
    methods: {
        onEventClick(event, e) {
            window.location.href = this.courseViewEndpoint.replace('_id_', event.courseId);
            // Prevent navigating to narrower view (default vue-cal behavior).
            e.stopPropagation()
        },
        fetchData: function () {
            axios.get(this.studentsByTeacherEndpoint, {params: {teacher_id: this.teacherId}}).then(response => {
                this.students = response.data.data
            })
            axios.get(this.coursesByTeacherEndpoint, {params: {teacher_id: this.teacherId}}).then(response => {
                if (response && response.data) {
                    this.courses = response.data.data
                    console.log(this.courses)
                }
            })
        },
    },
    computed: {
        calendarEvents : function () {
            let eventList = [];
            if (this.courses && this.courses.length > 0) {
                for (let course of this.courses){
                    eventList.push(
                        {
                            start: course.start_time,
                            end: course.end_time,
                            title: course.course_type.name,
                            content: '<i class="fas fa-user-graduate"></i> </br>' + course.study_team.name,
                            courseId: course.id,
                            deletable: false,
                            draggable: false
                        }
                    )
                }
            }
            return eventList;
        },
        currentTime: function () {
            let date = new Date()
            let year, month, day, hours, minuttes, seconds;
            year = String(date.getFullYear());
            month = String(date.getMonth() + 1);
            if (month.length === 1) {
                month = "0" + month;
            }
            day = String(date.getDate());
            if (day.length === 1) {
                day = "0" + day;
            }
            hours = String(date.getHours());
            if (hours.length === 1) {
                hours = "0" + hours;
            }
            minuttes = String(date.getMinutes());
            if (minuttes.length === 1) {
                minuttes = "0" + minuttes;
            }
            seconds = String(date.getSeconds());
            if (seconds.length === 1) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + ' ' + hours + ':' + minuttes + ':' + seconds;
        },

        sortedUpcomingCourses: function () {
            function compare(a, b) {
                if (a.start_time < b.start_time)
                    return -1;
                if (a.start_time > b.start_time)
                    return 1;
                return 0;
            }

            return this.upcomingCourses.sort(compare);
        }
    },
}


</script>

<style>
.vuecal__menu, .vuecal__cell-events-count {
    background-color: #59a8e9 ;
}

.vuecal__cell--today, .vuecal__cell--current {
    background-color: rgba(240, 240, 255, 0.4);
}

.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
    background-color: rgba(235, 255, 245, 0.4);
}

.vuecal__cell--selected:before {
    border-color: #bf5411;
}

/* Cells and buttons get highlighted when an event is dragged over it. */
.vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
.vuecal__cell-split--highlighted {
    background-color: #f6b28c;
}

.vuecal__arrow.vuecal__arrow--highlighted,
.vuecal__view-btn.vuecal__view-btn--highlighted {
    background-color: #A70000
}

.vuecal__event {
    background-color: #3fcf77;
    cursor: pointer;
    color: white;
}

.vuecal__event-time {
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
    font-style: italic;
}
.v-card__title {
    background-color: #75b647;
}

.swal2-styled.swal2-confirm {
    background-color: #F62B3B;
}

</style>
